@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
    @apply h-full overflow-hidden;
}

@font-face {
    font-family: LPMQ;
    src: url('/fonts/LPMQ.ttf');
    font-weight: bold;
}

/* Apply the LPMQ font to elements containing Arabic text */
.arabic-text {
    font-family: LPMQ, sans-serif;
    font-weight: bold;
    direction: rtl;
}
